@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap');
/*--------------------------------------------------------------------
Global
---------------------------------------------------------------------*/
$blue-color: #242439;
$yellow-color: #ffca05;
$bg-color: rgba(0, 0, 0, 0.1);

@mixin fonts($size, $weight, $color) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin typography-uppercase {
    letter-spacing: 2px;
    text-transform: uppercase;
}

@mixin transition {
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

body {
    @include fonts(16px, 400, $yellow-color);
    font-family: 'Playfair Display', serif;
    background-color: $blue-color;
    min-height: 100vh;
    transition: all 0.3s ease;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 8px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
}

a {
    text-decoration: none;
}

i,
svg {
    display: inline-block;
    pointer-events: none;
}

img {
    max-width: 100%;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.btn:focus,
.navbar-toggler:focus,
.form-control:focus,
.accordion-button:focus {
    box-shadow: none;
}

.button {
    font-family: 'Montserrat', serif;
    @include fonts(14px, 600, $yellow-color !important);
    @include typography-uppercase;
    padding: 12px 24px;
    background: transparent;
    border: 1px solid $yellow-color;
    overflow: hidden;
    position: relative;
    width: 200px;
    @include transition;
}

.button::after {
    content: "\f101";
    font-family: "Font Awesome 5 Free";
    @include fonts(16px, 900, $yellow-color);
    position: absolute;
    top: 49%;
    right: -20px;
    opacity: 0;
    transform: translateY(-50%);
    @include transition;
}

.button:hover {
    padding-left: 12px;
}

.button:hover::after {
    opacity: 1;
    right: 5px;
}

/*--------------------------------------------------------------------
Preloader
---------------------------------------------------------------------*/
#preloader {
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.loader-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    width: 150px;
    height: 100px;
    margin: 50px auto;
    position: relative;

    .loader-inner {
        width: 45px;
        height: 45px;
        border-radius: 5px;
        position: absolute;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .box-1 {
        background: #59114d;
        top: 0;
        left: 0;
        -webkit-animation: loading-1 3s infinite;
        animation: loading-1 3s infinite;
    }

    .box-2 {
        background: $blue-color;
        top: 45px;
        left: 45px;
        -webkit-animation: loading-2 3s infinite;
        animation: loading-2 3s infinite;
    }

    .box-3 {
        background: $yellow-color;
        top: 0;
        left: 90px;
        -webkit-animation: loading-3 3s infinite;
        animation: loading-3 3s infinite;
    }
}

@keyframes loading-1 {
    0% {
        top: 0;
        left: 0;
    }

    33.3% {
        top: 45px;
        left: 45px;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    66.66% {
        top: 0px;
        left: 90px;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    100% {
        top: 0;
        left: 0;
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
}

@keyframes loading-2 {
    0% {
        top: 45px;
        left: 45px;
    }

    33.3% {
        top: 0;
        left: 90px;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    66.66% {
        top: 0;
        left: 0;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    100% {
        top: 45px;
        left: 45px;
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
}

@keyframes loading-3 {
    0% {
        top: 0;
        left: 90px;
    }

    33.3% {
        top: 0;
        left: 0;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    66.66% {
        top: 45px;
        left: 45px;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    100% {
        top: 0;
        left: 90px;
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
}

/*--------------------------------------------------------------------
Header
---------------------------------------------------------------------*/
header {
    padding: 100px 0;

    h1 {
        font-family: 'Playfair Display', serif;
        @include fonts(30px, 500, #fff);
        margin-bottom: 30px;

        img {
            width: 30px;
            margin-right: 16px;
        }
    }
}

.main-content {
    padding-right: 30px;
    transition: all 0.3s ease;

    figure {
        padding: 20px;
        background: $bg-color;
        border-left: 5px solid rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        min-height: 360px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .blockquote {
        font-size: 30px;
        transition: all 0.3s ease;
    }

    .blockquote-footer {
        font-family: 'Montserrat', serif;
        @include fonts(18px, 400, #fff);
        font-style: italic;
        text-align: right;
        margin: 16px 0;
        transition: all 0.3s ease;
    }
}

.tags {
    font-family: 'Montserrat', serif;
    background: $bg-color;

    .list-inline-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 4px;
    }

    .badge {
        color: #fff !important;
        background: $bg-color;
        padding: 4px 8px;
        font-size: 13px;

        .count {
            margin-left: 8px;
            width: 25px;
            height: 25px;
            line-height: 25px;
            border-radius: 50%;
            background: $bg-color;
            display: inline-block;
        }

        span {
            pointer-events: none;
        }
    }
}

@media (max-width: 767.98px) {
    header {
        padding: 50px 0;

        h1 {
            font-size: 24px;

            img {
                width: 22px;
            }
        }
    }

    .main-content {
        .blockquote {
            font-size: 20px;
        }

        .blockquote-footer {
            font-size: 14px;
        }
    }

    .tags {
        margin-top: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .main-content {
        .blockquote {
            font-size: 24px;
        }
    }
}